<!-- <h4>โครงการระบบการจัดเก็บข้อมูลโครงสร้างพื้นฐานระดับพื้นที่เพื่อการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืน
    ในลุ่มน้ำทั่วประเทศจำนวน
    25 ลุ่มน้ำ</h4> -->
<div class="ui items">
    <div class="ui segment">
        <div class="item">
            <div class="content">
                <div class="ui top attached label" style="font-size:1.1em">1.1 หลักการและเหตุผล</div>
                <div class="description">
                    <div class="ui segment">
                        &emsp;&emsp;ตามคำสั่ง คสช. ที่ 85/2557 เรื่อง
                        แต่งตั้งคณะกรรมการกําหนดนโยบายและการบริหารจัดการทรัพยากรน้ำ
                        โดยมีอำนาจในการกำหนดกรอบนโยบายและแผนงานการบริหารจัดการทรัพยากรน้ำ
                        การป้องกันและแก้ปัญหาอุทกภัย ภัยแล้งและคุณภาพน้ำของประเทศ
                        เพื่อให้การบริหารทรัพยากรน้ำของประเทศเป็นไปอย่างมีเอกภาพและบูรณาการ
                        พร้อมทั้งเสนอแผนงาน โครงการ และมาตรการที่เกี่ยวกับการบริหารจัดการทรัพยากรน้ำ
                        เพื่อให้เกิดการบูรณาการ
                        และได้มีการแต่งตั้งคณะอนุกรรมการจำนวน
                        5 คณะ เพื่อจัดทำแผนบริหารจัดการน้ำในภาพรวม ประกอบด้วย
                        คณะอนุกรรมการพัฒนาและบริหารจัดการทรัพยากรน้ำพื้นที่ภาคเหนือ
                        ภาคกลาง
                        และภาคตะวันออก คณะอนุกรรมการพัฒนาและบริหารจัดการทรัพยากรน้ำพื้นที่ภาคตะวันออกเฉียงเหนือ
                        และภาคใต้
                        คณะอนุกรรมการจัดการระบบข้อมูลสนับสนุนการตัดสินใจ
                        คณะอนุกรรมการการจัดการองค์กร ข้อกำหนด กฎหมายต่างๆ ที่เกี่ยวข้อง
                        และคณะอนุกรรมการประชาสัมพันธ์และการมีส่วนร่วม
                        และจากแผนยุทธศาสตร์การบริหารจัดการทรัพยากรน้ำ
                        พ.ศ.2558-2569 คือ
                        <br> 1) การฟื้นฟูพื้นที่ต้นน้ำและการป้องกันการพังทลายของดิน
                        <br> 2) การแก้ไขปัญหาการขาดแคลนน้ำอุปโภคบริโภค
                        <br> 3) การแก้ไขปัญหาการขาดแคลนน้ำเพื่อการผลิต (เกษตร/อุตสาหกรรม)
                        <br> 4) การป้องกันและบรรเทาอุทกภัย
                        <br> 5) การป้องกันและแก้ไขปัญหาคุณภาพน้ำ
                        <br> 6) การเพิ่มประสิทธิภาพการบริหารจัดการ
                        <br>
                        &emsp;&emsp;สำนักงานสถิติแห่งชาติเป็นหนึ่งในคณะกรรมการกำหนดนโยบายและการบริหารจัดการทรัพยากรน้ำ
                        และคณะอนุกรรมการจัดการระบบข้อมูลสนับสนุนการตัดสินใจ
                        และตาม พ.ร.บ.สถิติ พ.ศ.2550 ให้สำนักงานสถิติแห่งชาติเป็นหน่วยงานกลางของรัฐ
                        ในการดำเนินการเกี่ยวกับสถิติตามหลักวิชาการ
                        (มาตรา ๕) และมีอำนาจหน้าที่จัดทำสำมะโนหรือการสำรวจด้วยตัวอย่าง
                        หรืออำนวยการให้มีการสำรวจด้านต่างๆ
                        ของประเทศ (มาตรา
                        6
                        (4)) และให้บริการสถิติแก่หน่วยงาน องค์กรเอกชน และบุคคลทั่วไป (มาตรา 6 (8))
                        ประกอบกับในสถานการณ์ปัจจุบัน
                        ข้อมูลพื้นฐานทางสังคมและเศรษฐกิจที่มีความครบถ้วน
                        ถูกต้อง แม่นยำ ไม่ซ้ำซ้อน และตรงความต้องการของผู้ใช้ รวมทั้งข้อมูลในระดับพื้นที่ย่อย
                        เป็นสิ่งจำเป็นในการวางแผนและพัฒนาประเทศโดยเฉพาะในการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืน
                        ดังนั้นการศึกษาและสำรวจข้อมูลการใช้น้ำ หรือที่เรียกว่าการสำรวจรอยเท้าน้ำ (water footprint)
                        จึงมีความสำคัญมาก
                        แต่เนื่องจากระบบสถิติของประเทศไทยเป็นระบบกระจายงาน
                        มีหน่วยงานภาครัฐต่างๆ ทำหน้าที่ผลิตสถิติ ซึ่งเป็นสถิติที่ได้จากการบริหารงาน งานทะเบียน การสำรวจ
                        และจากการผลิตสถิติตามความต้องการเฉพาะของหน่วยงาน
                        จึงอาจเกิดความซ้ำซ้อนของข้อมูล หรือความไม่ครบถ้วนของข้อมูลในเชิงพื้นที่ย่อยโดยเฉพาะในเขตเมือง
                        และในเชิงเนื้อหา
                        ได้แก่
                        ข้อมูลโครงสร้างพื้นฐานทางประชากร
                        การใช้ทรัพยากรน้ำเพื่อการอุปโภคบริโภคทั้งในระดับครัวเรือนและสถานประกอบการขนาดเล็ก
                        การใช้น้ำเพื่อการเกษตรของครัวเรือนเกษตร
                        การใช้น้ำเพื่อการอุตสาหกรรมของสถานประกอบการประเภทต่างๆ ปัญหาหรือผลกระทบที่เกิดจากน้ำ
                        ภัยพิบัติต่างๆ
                        และความช่วยเหลือจากรัฐ
                        รวมถึงค่าใช้จ่ายที่เกี่ยวข้องกับการใช้น้ำที่เพิ่มขึ้นหรือลดลง เป็นต้น
                        &emsp;&emsp;สิ่งสำคัญอีกประการหนึ่งก็คือการขาดการบริหารจัดการในเชิงบูรณาการ
                        และการจัดการข้อมูลในระดับหน่วยงาน
                        ให้เป็นไปในทิศทางเดียวกัน
                        ในระดับประเทศและเชิงพื้นที่ ทั้งในมิติของพื้นที่ในเขตชลประทาน นอกเขตชลประทาน และเขตเมือง
                        รวมทั้งมิติพื้นที่อื่นๆ
                        และลดความซ้ำซ้อนในการดำเนินการจัดเก็บข้อมูล
                        เพื่อให้ประเทศมีสถิติที่สำคัญสำหรับใช้ในการวิเคราะห์และจัดลำดับความมั่นคงของทรัพยากรน้ำ
                        เพื่อนำไปสู่การจัดทำนโยบายและแผนในการกำหนดทิศทางการพัฒนาประเทศและการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืนในอนาคต
                    </div>
                    <div class="ui segment">
                        &emsp;&emsp;จากเหตุผลดังกล่าวข้างต้น
                        สำนักงานสถิติแห่งชาติจึงได้เสนอโครงการระบบการจัดเก็บข้อมูลโครงสร้างพื้นฐานระดับพื้นที่เพื่อการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืน
                        ในลุ่มน้ำทั่วประเทศจำนวน 25 ลุ่มน้ำ (โครงการระยะที่ 1)
                        ภายใต้แผนแม่บทการพัฒนาระบบข้อมูลสนับสนุนการตัดสินใจ
                        ของคณะอนุกรรมการจัดการระบบข้อมูลสนับสนุนการตัดสินใจ
                        และภายใต้คณะกรรมการกำหนดนโยบายและการบริหารจัดการทรัพยากรน้ำ โดยมีเป้าหมายหลักคือ สนับสนุนให้ 1)
                        เกิดระบบคลังข้อมูลน้ำแห่งชาติและระบบโครงสร้างพื้นฐาน
                        ที่รวบรวม และเชื่อมโยงข้อมูลจากทุกหน่วยงาน ด้วยเทคโนโลยีที่มีประสิทธิภาพสูง 2) เกิดระบบติดตาม
                        เฝ้าระวัง
                        และคาดการณ์สถานการณ์น้ำในภาวะปกติ
                        และตัดสินใจ แก้ไข บรรเทาอุทกภัยในภาวะวิกฤตที่เป็นเอกภาพ และ 3) เกิดกระบวนการกำหนดทิศทางการพัฒนา
                        อนุรักษ์
                        และซ่อมบำรุง
                        อย่างเป็นระบบและต่อเนื่อง โดยแผนแม่บทฉบับนี้อยู่ในแผนการบริหารจัดการทรัพยากรน้ำ ปี พ.ศ.2558
                        (เพิ่มเติม)
                        และภายใต้แผนยุทธศาสตร์การบริหารจัดการทรัพยากรน้ำ
                        (ข้อ 6 : การเพิ่มประสิทธิภาพการบริหารจัดการ) ปี พ.ศ.2558-2569 ที่คณะรัฐมนตรีเห็นชอบเมื่อวันที่
                        25
                        พฤศจิกายน
                        พ.ศ.2557
                        และจากการประชุมคณะรัฐมนตรีเมื่อวันที่ 30 ธันวาคม พ.ศ.2557
                        คณะรัฐมนตรีได้เห็นชอบในหลักการแผนงาน/โครงการบริหารจัดการทรัพยากรน้ำระยะเร่งด่วน
                        ประจำปีงบประมาณ 2558 (เพิ่มเติม) รวม 4,227 แผนงาน/โครงการ กรอบวงเงิน 16,278 ล้านบาท
                        และงบประมาณจากแหล่งเงินกู้ของรัฐบาล
                        กรอบวงเงิน 39,707 ล้านบาท
                        โครงการนี้ได้แบ่งการดำเนินการเป็น 2 ขั้นตอนเพื่อแก้ไขประเด็นอุปสรรคที่กล่าวไว้ในข้างต้น คือ
                        <br> 1)
                        การบริหารการจัดเก็บ/จัดเก็บข้อมูลโครงสร้างพื้นฐานระดับพื้นที่เพื่อการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืน
                        ในลุ่มน้ำทั่วประเทศจำนวน
                        25 ลุ่มน้ำ เพื่อแก้ปัญหาความซ้ำซ้อน ความไม่ครบถ้วน และไม่ถูกต้องของข้อมูล
                        โดยมีแผนบริหารการจัดเก็บข้อมูลด้านทรัพยากรน้ำ
                        ซึ่งเริ่มจากการศึกษาและวิเคราะห์รายละเอียด โครงสร้างของข้อมูลใน
                        “ระบบคลังข้อมูลน้ำและภูมิอากาศแห่งชาติ”
                        วิเคราะห์ข้อมูลและดัชนีชี้วัดต่างๆ
                        ทั้งเชิงระบบและเชิงพื้นที่ เพื่อกำหนดดัชนีชี้วัดที่เกี่ยวข้องกับการบริหารจัดการทรัพยากรน้ำ
                        ศึกษา
                        ทบทวนข้อมูลพื้นฐานที่หน่วยงานต่างๆ
                        มีการจัดเก็บหรือรวบรวมไว้ เพื่อวิเคราะห์ข้อมูลส่วนที่ต้องการเพิ่มเติม
                        แล้วจึงนำไปสู่การออกแบบกระบวนการเก็บรวบรวมข้อมูล
                        รวมถึงการบริหารการจัดเก็บข้อมูลดังกล่าวต่อไป ซึ่งข้อมูลที่สำคัญ ๆ ได้แก่ ข้อมูลของผู้ใช้น้ำ
                        ลักษณะการใช้น้ำ
                        แหล่งน้ำ
                        ค่าใช้จ่าย และปัญหาด้านน้ำ เพื่อนำมาจัดทำดัชนีชี้วัดในด้านต่างๆ เช่น
                        ดัชนีชี้วัดความมั่นคงของน้ำใช้ในครัวเรือน
                        ดัชนีชี้วัดความมั่นคงของน้ำเพื่อเศรษฐกิจ
                        ดัชนีชี้วัดความมั่นคงของน้ำสำหรับเมือง ดัชนีชี้วัดความสมบูรณ์เชิงสิ่งแวดล้อมของแม่น้ำ
                        ดัชนีชี้วัดรายได้และรายจ่ายเรื่องน้ำ
                        และดัชนีชี้วัดด้านสุขภาพอนามัยเป็นต้น โดยเก็บรวบรวมข้อมูลในระดับครัวเรือน ครัวเรือนเกษตร
                        สถานประกอบการ
                        และพื้นที่ย่อย
                        (เขตแจงนับ (Enumeration Area : EA)) อย่างครอบคลุม
                        เพื่อให้สามารถนำเสนอข้อมูลในมิติพื้นที่ด้านต่างๆ
                        ได้
                        ไม่ว่าจะเป็นมิติพื้นที่ในการบริหารจัดการน้ำ
                        เช่น ในและนอกเขตชลประทาน พื้นที่ในเขตเมือง พื้นที่ลุ่มน้ำต่างๆ
                        หรือมิติพื้นที่ในเชิงเขตการปกครอง
                        เป็นต้น
                        รวมถึงมีแผนการเก็บข้อมูลในระดับพื้นที่ย่อยอย่างต่อเนื่อง
                        ทำให้ข้อมูลมีความทันสมัยเหมาะสมกับกาลเวลา
                        อีกทั้งเป็นการเตรียมพร้อมในการรองรับระบบการสำรวจข้อมูลภูมิสารสนเทศเชิงพื้นที่อีกด้วย
                        <br> 2) การพัฒนาระบบเพื่อการจัดเก็บข้อมูลโครงสร้างพื้นฐานและการนำเข้าข้อมูล
                        เพื่อให้เกิดการบูรณาการข้อมูลด้านน้ำ
                        ลดความซ้ำซ้อน
                        และให้เกิดความมีประสิทธิภาพในการนำข้อมูลไปใช้วิเคราะห์ประกอบการตัดสินใจด้านนโยบายและการจัดการน้ำต่อไป
                    </div>
                    <div class="ui segment">
                        &emsp;&emsp;ดังนั้น
                        เพื่อให้การดำเนินงานโครงการระบบการจัดเก็บข้อมูลโครงสร้างพื้นฐานระดับพื้นที่เพื่อการบริหารจัดการทรัพยากรน้ำอย่างยั่งยืน
                        ในลุ่มน้ำทั่วประเทศจำนวน 25 ลุ่มน้ำ (โครงการระยะที่ 1) มีประสิทธิภาพและบรรลุตามเป้าหมาย
                        สำนักงานสถิติแห่งชาติจึงได้มอบหมายให้มหาวิทยาลัยขอนแก่น
                        ศึกษาและกำหนดดัชนีชี้วัดต้นแบบสำหรับออกแบบและสร้างโครงสร้างข้อมูลพื้นฐานในการบริหารจัดการทรัพยากรน้ำ
                        พร้อมทั้งกำหนดวิธีการดำเนินการจัดหาหรือจัดให้มีข้อมูลเพื่อตอบสนองดัชนีชี้วัดต่างๆ
                        ซึ่งรวมถึงการสร้างเครื่องมือในการเก็บรวบรวมข้อมูลโครงสร้างพื้นฐานพร้อมทั้งดำเนินการในกระบวนการผลิตข้อมูลตามมาตรฐาน
                        การจัดหาระบบเพื่อนำเข้าข้อมูลจากแหล่งข้อมูลทุติยภูมิ
                        รวมกับข้อมูลปฐมภูมิที่ผลิตได้
                        การจัดระบบการนำเสนอผลในรูปแบบต่างๆและพร้อมเชื่อมโยงเข้ากับคลังข้อมูลน้ำและภูมิอากาศแห่งชาติได้อย่างมีประสิทธิภาพต่อไป
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="item">
            <div class="content">
                <div class="ui top attached label" style="font-size:1.1em">1.2 วัตถุประสงค์</div>
                <div class="description">
                    <div class="ui segment">
                        1.2.1 เพื่อจัดทำข้อมูลและดัชนีชี้วัดต่างๆ สำหรับการบริหารจัดการทรัพยากรน้ำ
                        และสามารถตอบสนองคลังข้อมูลน้ำและภูมิอากาศแห่งชาติได้ทั้งในเชิงเนื้อหาและเชิงพื้นที่
                        <br> 1.2.2 เพื่อพัฒนาระบบงานบนเครือข่ายคอมพิวเตอร์
                        เพื่อสนับสนุนคลังข้อมูลน้ำและภูมิอากาศแห่งชาติ
                        โดยมี 4
                        ระบบงานย่อย คือ
                        <br> 1.2.2.1 ระบบการมอบหมายงาน และการติดตามงาน รวมทั้งการประเมินคุณภาพข้อมูล 1.2.2.2
                        ระบบการจัดเก็บข้อมูลในครัวเรือน ครัวเรือนเกษตร
                        สถานประกอบการ และข้อมูลระดับพื้นที่ย่อย ด้วยอุปกรณ์คอมพิวเตอร์แบบพกพา (Tablet)
                        <br> 1.2.2.3 ระบบการนำเข้าข้อมูลโครงสร้างพื้นฐานที่มีอยู่แล้วระหว่างหน่วยงาน
                        และข้อมูลโครงสร้างพื้นฐานที่ดำเนินการจัดเก็บเพิ่มเติมในระดับพื้นที่ย่อย
                        ให้พร้อมเชื่อมโยงเข้าคลังข้อมูลน้ำและภูมิอากาศแห่งชาติ
                        <br> 1.2.2.4 ระบบการนำเสนอข้อมูลและดัชนีชี้วัด ที่สนับสนุนการบริหารจัดการทรัพยากรน้ำ
                        ได้ทั้งในเชิงเนื้อหาและเชิงพื้นที่
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>