<ng-container *ngIf="user.TID === '3' || user.TID === '4'">
    <div class="ui small header">มอบหมายงาน</div>

    <div class="ui raised segment">
        <a class="ui blue ribbon label">เลือกเจ้าหน้าที่</a>
        <sui-search [options]="users_for_search" (resultSelected)="onSearchSelected($event)"></sui-search>
        <br>
        <div class="ui large label" style="margin-left: 10px">จัดเรียงตาม</div>
        <sui-select style="margin: 10px" class="selection" [(ngModel)]="sort_by" (ngModelChange)="sortData()" isSearchable="true">
            <sui-select-option *ngFor="let colname of col_name" [value]="colname">
            </sui-select-option>
        </sui-select>
        <div class="ui large label" style="margin-left: 10px">เรียงลำดับจาก</div>
        <sui-select style="margin: 10px" class="selection" [(ngModel)]="sort_with" (ngModelChange)="sortData()" isSearchable="true">
            <sui-select-option *ngFor="let colname of sort_map" [value]="colname">
            </sui-select-option>
        </sui-select>
        <div class="ui segments" id="container">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th>
                            <div class="field">
                            </div>
                            <sui-checkbox [(ngModel)]="checked_user_map['0']" (checkChange)="checkAllUser()"></sui-checkbox> All
                        </th>
                        <th>
                            ชื่อ-นามสกุล
                        </th>
                        <th>
                            อีเมล์
                        </th>
                        <th>
                            เบอร์โทรศัพท์มือถือ
                        </th>
                        <th>
                            สิทธิ์
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="checked_user_map">
                    <ng-container *ngFor="let user of filtered_users">
                        <tr>
                            <td class="collapsing">
                                <sui-checkbox [(ngModel)]="checked_user_map[user.USERID]"></sui-checkbox>{{user.USERID}}
                            </td>
                            <td>{{user.FIRSTNAME}} {{user.LASTNAME}}</td>
                            <td class="right aligned collapsing">{{user.EMAIL}}</td>
                            <td class="collapsing">
                                {{user.PHONE}}
                            </td>
                            <td class="collapsing">
                                {{user.TYPE_NAME}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="ui segment">
            <sui-pagination [collectionSize]="user_list.length" [pageSize]="10" [maxSize]="10" [hasEllipses]="true" [(page)]="user_page"
                (pageChange)="showUserPage()">
            </sui-pagination>
        </div>
    </div>
    <div class="ui segments">
        <div class="ui segment">
            <a class="ui blue ribbon label">เลือกเขตพื้นที่</a>
        </div>
        <div class="ui divided selection list">
            <a class="item">
                <div class="ui large label" style="margin-left: 10px">ภาค</div>
                <sui-select style="margin: 10px" class="selection" [(ngModel)]="selected_reg" (ngModelChange)="regSelected()" isSearchable="true">
                    <sui-select-option *ngFor="let selected_reg of reg_list" [value]="selected_reg.name">
                    </sui-select-option>
                </sui-select>

                <div class="ui large label" style="margin-left: 10px">จังหวัด</div>
                <sui-select style="margin: 10px" class="selection" [(ngModel)]="selected_cwt" (ngModelChange)="cwtSelected()" isSearchable="true">
                    <sui-select-option *ngFor="let selected_cwt of cwt_list" [value]="selected_cwt.name">
                    </sui-select-option>
                </sui-select>
                <div class="ui large label" style="margin-left: 10px">อำเภอ / เขต</div>
                <sui-select style="margin: 10px" class="selection" [(ngModel)]="selected_amp" (ngModelChange)="ampSelected()" isSearchable="true">
                    <sui-select-option *ngFor="let selected_amp of amp_list" [value]="selected_amp.name">
                    </sui-select-option>
                </sui-select>
            </a>
            <a class="item">
                <div class="ui large label" style="margin-left: 10px">ตำบล / แขวง</div>
                <sui-select style="margin: 10px" class="selection" [(ngModel)]="selected_tam" (ngModelChange)="tamSelected()" isSearchable="true">
                    <sui-select-option *ngFor="let selected_tam of tam_list" [value]="selected_tam.name">
                    </sui-select-option>
                </sui-select>
                <div class="ui large label" style="margin-left: 10px">เขตการปกครอง</div>
                <sui-select style="margin: 10px" class="selection" [(ngModel)]="selected_dis" (ngModelChange)="disSelected()" isSearchable="true">
                    <sui-select-option *ngFor="let selected_dis of dis_list" [value]="selected_dis.name">
                    </sui-select-option>
                </sui-select>
                <div class="ui large label" style="margin-left: 10px">พื้นที่ย่อย</div>
                <sui-select style="margin: 10px" class="selection" [(ngModel)]="selected_ea" (ngModelChange)="eaSelected()" isSearchable="true">
                    <sui-select-option *ngFor="let selected_ea of ea_list" [value]="selected_ea.name">
                    </sui-select-option>
                </sui-select>
                <div class="ui large label" style="margin-left: 10px">การมอบงาน</div>
                <sui-select style="margin: 10px" class="selection" [(ngModel)]="selected_assign" (ngModelChange)="assignSelect()" isSearchable="true">
                    <sui-select-option *ngFor="let selected_a of assign_list" [value]="selected_a">
                    </sui-select-option>
                </sui-select>
            </a>
            <a class="item">
                <div class="ui large label" style="margin-left: 10px">จัดเรียงตาม</div>
                <sui-select style="margin: 10px" class="selection" [(ngModel)]="area_sort_by" (ngModelChange)="sortEaData()" isSearchable="true">
                    <sui-select-option *ngFor="let colname of area_col_name" [value]="colname">
                    </sui-select-option>
                </sui-select>
                <div class="ui large label" style="margin-left: 10px">เรียงลำดับจาก</div>
                <sui-select style="margin: 10px" class="selection" [(ngModel)]="area_sort_with" (ngModelChange)="sortEaData()" isSearchable="true">
                    <sui-select-option *ngFor="let colname of area_sort_map" [value]="colname">
                    </sui-select-option>
                </sui-select>
            </a>
        </div>
        <div class="ui segments" id="container">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th>
                            <sui-checkbox [(ngModel)]="checked_ea_map['0']" (checkChange)="checkAllEa();showUserAndEa()"></sui-checkbox> All
                        </th>
                        <th>
                            ผู้รับผิดชอบ
                        </th>
                        <th>
                            รหัสภาค
                        </th>
                        <th>
                            ชื่อภาค
                        </th>
                        <th>
                            รหัสจังหวัด
                        </th>
                        <th>
                            ชื่อจังหวัด
                        </th>
                        <th>
                            รหัสอำเภอ
                        </th>
                        <th>
                            ชื่ออำเภอ
                        </th>
                        <th>
                            รหัสตำบล
                        </th>
                        <th>
                            ชื่อตำบล
                        </th>
                        <th>
                            เขตการปกครอง
                        </th>
                        <th>
                            รหัสเทศบาล
                        </th>
                        <th>
                            ชื่อเทศบาล
                        </th>
                        <th>
                            รหัส อบต.
                        </th>
                        <th>
                            ชื่อ อบต.
                        </th>
                        <th>
                            รหัส EA
                        </th>
                        <th>
                            รหัสหมู่บ้าน
                        </th>
                        <th>
                            ชื่อหมู่บ้าน
                        </th>
                        <th>
                            แผนที่
                        </th>
                        <th>
                            จำนวนบ้าน
                        </th>
                        <th>
                            จำนวนครัวเรือน
                        </th>
                        <th>
                            จำนวนครัวเรือนเกษตร
                        </th>
                        <th>
                            จำนวนสถานประกอบการธุรกิจทางการค้าและธุรกิจทางการบริการ
                        </th>
                        <th>
                            จำนวนสถานประกอบการอุสาหกรรมการผลิต
                        </th>
                        <th>
                            จำนวนโรงแรมและเกสต์เฮาส์
                        </th>
                        <th>
                            จำนวนโรงพยาบาลเอกชน
                        </th>
                        <th>
                            หมายเหตุ
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="checked_ea_map">
                    <ng-container *ngFor="let ea of filter_ea_list">
                        <tr>
                            <td class="collapsing">
                                <ng-container *ngIf="user.TID === '3' && users.users.length">
                                    <sui-checkbox [(ngModel)]="checked_ea_map[ea.REG+ea.CWT+ea.AMP+ea.TAM+ea.DISTRICT+ea.EA]" [isDisabled]="ea.FS != null" (checkChange)="showUserAndEa()"></sui-checkbox>
                                </ng-container>
                                <ng-container *ngIf="user.TID === '4' && users.users.length">
                                    <sui-checkbox [(ngModel)]="checked_ea_map[ea.REG+ea.CWT+ea.AMP+ea.TAM+ea.DISTRICT+ea.EA]" (checkChange)="showUserAndEa()"></sui-checkbox>
                                </ng-container>
                            </td>
                            <td class="collapsing">
                                <ng-container *ngIf="user.TID === '3' && users.users.length">
                                    <ng-container *ngIf="ea.FS">
                                        <p> {{users.getUserByID(ea.FS).USERID}}: {{users.getUserByID(ea.FS).FIRSTNAME}} {{users.getUserByID(ea.FS).LASTNAME}}
                                            <button id="circularbutton" class="compact circular ui basic button" (click)='unAssignJobFS(ea,ea.FS)'>
                                                <i id="removeicon" class="material-icons">remove_circle</i>
                                            </button>
                                        </p>
                                    </ng-container>
                                    <ng-container *ngIf="ea.FS_H">
                                        <ng-container *ngFor="let fs of ea.FS_H">
                                            <p style="color: darkgray"> {{users.getUserByID(fs).USERID}}: {{users.getUserByID(fs).FIRSTNAME}} {{users.getUserByID(fs).LASTNAME}}
                                            </p>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="user.TID === '4' && users.users.length">
                                    <ng-container *ngFor="let usr of ea.FI">
                                        <p> {{users.getUserByID(usr).USERID}}: {{users.getUserByID(usr).FIRSTNAME}} {{users.getUserByID(usr).LASTNAME}}
                                            <button id="circularbutton" class="compact circular ui basic button" (click)='unAssignJobFI(ea,usr)'>
                                                <i id="removeicon" class="material-icons">remove_circle</i>
                                            </button>
                                        </p>
                                    </ng-container>
                                    <ng-container *ngFor="let usr of ea.FI_H">
                                        <ng-container *ngIf="users.getUserByID(usr) != null">
                                                <p style="color: darkgray"> {{users.getUserByID(usr).USERID}}: {{users.getUserByID(usr).FIRSTNAME}} {{users.getUserByID(usr).LASTNAME}}</p>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </td>
                            <td class="collapsing">
                                {{ea.REG}}
                            </td>
                            <td class="collapsing">
                                {{ea.REG_NAME}}
                            </td>
                            <td class="collapsing">
                                {{ea.CWT}}
                            </td>
                            <td class="collapsing">
                                {{ea.CWT_NAME}}
                            </td>
                            <td class="collapsing">
                                {{ea.AMP}}
                            </td>
                            <td class="collapsing">
                                {{ea.AMP_NAME}}
                            </td>
                            <td class="collapsing">
                                {{ea.TAM}}
                            </td>
                            <td class="collapsing">
                                {{ea.TAM_NAME}}
                            </td>
                            <td class="collapsing">
                                {{ea.DISTRICT}}
                            </td>
                            <td class="collapsing">
                                {{ea.MUN}}
                            </td>
                            <td class="collapsing">
                                {{ea.MUN_NAME}}
                            </td>
                            <td class="collapsing">
                                {{ea.TAO}}
                            </td>
                            <td class="collapsing">
                                {{ea.TAO_NAME}}
                            </td>
                            <td class="collapsing">
                                {{ea.EA}}
                            </td>
                            <td class="collapsing">
                                {{ea.VIL}}
                            </td>
                            <td class="collapsing">
                                {{ea.VIL_NAME}}
                            </td>
                            <td class="collapsing">
                                {{ea.MAP_STATUS}}
                            </td>
                            <td class="collapsing">
                                {{ea.Building}}
                            </td>
                            <td class="collapsing">
                                {{ea.Household}}
                            </td>
                            <td class="collapsing">
                                {{ea.Agricultural_HH}}
                            </td>
                            <td class="collapsing">
                                {{ea.ES_BUSI}}
                            </td>
                            <td class="collapsing">
                                {{ea.ES_INDUS}}
                            </td>
                            <td class="collapsing">
                                {{ea.ES_HOTEL}}
                            </td>
                            <td class="collapsing">
                                {{ea.ES_PV_HOS}}
                            </td>
                            <td class="collapsing">
                                {{ea.REMARK}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="ui segment">
            <button *ngIf="deleted_ea.length > 0" class="ui primary button" (click)="deleteJob()">
                ยืนยันการลบ
            </button>
            <button *ngIf="deleted_ea.length > 0" class="ui red button" (click)="reloadData()">
                ยกเลิกการลบ
            </button>
            <sui-pagination [collectionSize]="filtered_areas.areas.length" [pageSize]="10" [maxSize]="10" [hasEllipses]="true" [(page)]="ea_page"
                (pageChange)="showEaPage()">
            </sui-pagination>
        </div>
    </div>
    <div class="ui segments" *ngIf="has_job">
        <div class="ui segment">
            <a class="ui blue ribbon label">เจ้าหน้าที่และเขตพื้นที่</a>
        </div>
        <div class="ui segments" id="container">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th>
                            รหัสเจ้าหน้าที่
                        </th>
                        <th>
                            ชื่่อ-นามสกุล
                        </th>
                        <th>
                            อีเมล์
                        </th>
                        <th>
                            เบอร์โทรศัพท์มือถือ
                        </th>
                        <th>
                            สิทธิ์
                        </th>
                        <th>
                            รหัสภาค
                        </th>
                        <th>
                            ชื่อภาค
                        </th>
                        <th>
                            รหัสจังหวัด
                        </th>
                        <th>
                            ชื่อจังหวัด
                        </th>
                        <th>
                            รหัสอำเภอ
                        </th>
                        <th>
                            ชื่ออำเภอ
                        </th>
                        <th>
                            รหัสตำบล
                        </th>
                        <th>
                            ชื่อตำบล
                        </th>
                        <th>
                            เขตการปกครอง
                        </th>
                        <th>
                            รหัสเทศบาล
                        </th>
                        <th>
                            ชื่อเทศบาล
                        </th>
                        <th>
                            รหัส อบต.
                        </th>
                        <th>
                            ชื่อ อบต.
                        </th>
                        <th>
                            รหัส EA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let user of job_data">
                        <ng-container *ngFor="let ea of user.jobs">
                            <tr>
                                <td class="collapsing">
                                    {{user.USERID}}
                                </td>
                                <td>{{user.FIRSTNAME}} {{user.LASTNAME}}</td>
                                <td class="right aligned collapsing">{{user.EMAIL}}</td>
                                <td class="collapsing">
                                    {{user.PHONE}}
                                </td>
                                <td class="collapsing">
                                    {{user.TYPE_NAME}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].REG}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].REG_NAME}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].CWT}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].CWT_NAME}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].AMP}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].AMP_NAME}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].TAM}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].TAM_NAME}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].DISTRICT}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].MUN}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].MUN_NAME}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].TAO}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].TAO_NAME}}
                                </td>
                                <td class="collapsing">
                                    {{datas.filterAreasByEA(ea)[0].EA}}
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <button class="ui primary button" (click)="assignJob()">
            Save
        </button>
    </div>
</ng-container>

<ng-container *ngIf="user.TID !== '3' && user.TID !== '4'">
    ไม่สามารถแสดงหน้าเว็บได้ เนื่องจากผู้ใช้ไม่มีสิทธิ์ในการเข้าถึงหน้านี้
</ng-container>

<!-- <tree-root [nodes]="nodes" [options]="options"></tree-root> -->