<form>
  <h3 class="ui header">ลืมรหัสผ่าน</h3>
  <div style="padding:10px" class="ui raised segment">
    <a class="ui black ribbon label"> รหัสเจ้าหน้าที่</a>
    <div class="ui input">
      <input type="text" [(ngModel)]="user_id" name="userId" #userId="ngModel" required>
    </div>
    <div class="ui left pointing red basic label" *ngIf="userId.invalid && (userId.dirty || userId.touched)">
      <div *ngIf="userId.errors.required">
        กรุณากรอกข้อมูลรหัสเจ้าหน้าที่
      </div>
    </div>
    <button style="margin:10px" class="ui primary button" (click)="sendPasswordToEmail()">
      ขอรหัสผ่าน
  </button>
  </div>
</form>