<div class="ui small header">ตรวจสอบความถูกต้อง สน.2 (พื้นที่ย่อย)</div>
<!-- <tree-root [nodes]="nodes" [options]="options"></tree-root> -->
<div class="ui segment">
  <div class="ui label">
    สถานะการอนุมัติ
  </div>
  {{status_sn[sn22.status]}}
  <div style="margin-left:10px" class="ui label">
    สถานะข้อมูล
  </div>
  {{status_appr[sn22.STATUS]}}
</div>
<sui-tabset>
  <div class="ui top attached tabular menu">
    <a class="item" suiTabHeader="1">ตอนที่ 1</a>
    <a class="item" suiTabHeader="2">ตอนที่ 2</a>
  </div>
  <div class="ui bottom attached segment" suiTabContent="1">
    <a class="ui red ribbon label">สน.2 (พื้นที่ย่อย) ตอนที่ 1 การจัดการน้ำในหมู่บ้าน/ชุมชน</a>
    <div style="padding:10px" class="ui segments" id="container">
      <!-- *ngIf="user_list.length > 0" -->
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>
              ในหมู่บ้าน/ชุมชนแห่งนี้มี แหล่งน้ำสาธารณะ (สระ,หนอง,บึง,อ่างเก็บน้ำ) หรือไม่
            </th>
            <th *ngIf="sn22.B1_1">
              หากมี มีจำนวนกี่แหล่ง
            </th>
          </tr>
          <tr>
            <th>
              B1_1
            </th>
            <th *ngIf="sn22.B1_1">
              B1_2
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- <ng-container *ngFor="let user of user_list"> -->
          <tr>
            <td>{{sn22.B1_1 ? 'มี' : 'ไม่มี'}} </td>
            <td *ngIf="sn22.B1_1"> {{sn22.B1_2}} </td>
          </tr>
          <!-- </ng-container> -->
        </tbody>
      </table>
    </div>
    <div class="ui segment" *ngIf="sn22.B1_2 && sn22.B1_2 > 0">
      <a class="ui blue ribbon label"> ข้อมูลแหล่งน้ำ </a>
    </div>
    <div *ngIf="sn22.B1_2 && sn22.B1_2 > 0" style="padding:10px" class="ui segments" id="container">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>
              ชื่อแหล่งน้ำ
            </th>
            <th>
              มีการใช้น้ำจากแหล่งน้ำนี้ เพื่อการผลิตน้ำประปา
            </th>
            <th>
              มีการใช้น้ำจากแหล่งน้ำนี้ เพื่อการผลิต/ในอุตสาหกรรมอื่น ๆ
            </th>
            <th>
              มีการใช้น้ำจากแหล่งน้ำนี้ เพื่อการเกษตร
            </th>
            <th>
              มีการใช้น้ำจากแหล่งน้ำนี้ เพื่อการบริการ
            </th>
            <th>
              มีการใช้น้ำจากแหล่งน้ำนี้ ในรูปแบบอื่น
            </th>
            <th>
              การใช้น้ำจากแหล่งนี้ในรูปแบบ อื่น ๆ คือ
            </th>
            <th>
              ปริมาตรแหล่งน้ำ (ลูกบาศก์เมตร)
            </th>
            <th>
              พื้นที่ ไร่
            </th>
            <th>
              พื้นที่ งาน
            </th>
            <th>
              พื้นที่ ตารางวา
            </th>
            <th>
              พื้นที่ ลึก (เมตร)
            </th>
            <th>
              ความกว้าง (เมตร)
            </th>
            <th>
              ความยาว (เมตร)
            </th>
            <th>
              ความลึก (เมตร)
            </th>
            <th>
              เส้นผ่านศูนย์กลาง (เมตร)
            </th>
            <th>
              ความลึก (เมตร)
            </th>
          </tr>
          <tr>
            <th>
              B1_3_1
            </th>
            <th>
              B1_3_2_1
            </th>
            <th>
              B1_3_2_2
            </th>
            <th>
              B1_3_2_3
            </th>
            <th>
              B1_3_2_4
            </th>
            <th>
              B1_3_2_5
            </th>
            <th>
              B1_3_2_5_1
            </th>
            <th>
              B1_3_3_1
            </th>
            <th>
              B1_3_3_2_1
            </th>
            <th>
              B1_3_3_2_2
            </th>
            <th>
              B1_3_3_2_3
            </th>
            <th>
              B1_3_3_2_4
            </th>
            <th>
              B1_3_3_3_1_1
            </th>
            <th>
              B1_3_3_3_1_2
            </th>
            <th>
              B1_3_3_3_1_3
            </th>
            <th>
              B1_3_3_3_2_1
            </th>
            <th>
              B1_3_3_3_2_2
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let b1_3 of sn22.B1_3">
            <tr>
              <td> {{b1_3.B1_3_1}} </td>
              <td> {{word_has[b1_3.B1_3_2_1]}} </td>
              <td> {{word_has[b1_3.B1_3_2_2]}} </td>
              <td> {{word_has[b1_3.B1_3_2_3]}} </td>
              <td> {{word_has[b1_3.B1_3_2_4]}} </td>
              <td> {{word_has[b1_3.B1_3_2_5]}} </td>
              <td> {{b1_3.B1_3_2_5_1}} </td>
              <td> {{b1_3.B1_3_3_1}} </td>
              <td> {{b1_3.B1_3_3_2_1}} </td>
              <td> {{b1_3.B1_3_3_2_2}} </td>
              <td> {{b1_3.B1_3_3_2_3}} </td>
              <td> {{b1_3.B1_3_3_2_4}} </td>
              <td> {{b1_3.B1_3_3_3_1_1}} </td>
              <td> {{b1_3.B1_3_3_3_1_2}} </td>
              <td> {{b1_3.B1_3_3_3_1_3}} </td>
              <td> {{b1_3.B1_3_3_3_2_1}} </td>
              <td> {{b1_3.B1_3_3_3_2_2}} </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <a class="ui blue ribbon label"> ในหมู่บ้าน/ชุมชนนี้มีระบบน้ำประปาประเภทใดบ้าง </a>
    <div style="padding:10px" class="ui segments" id="container">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>
              น้ำประปาส่วนภูมิภาค
            </th>
            <th>
              น้ำประปานครหลวง
            </th>
            <th>
              น้ำประปา อื่นๆ (หมู่บ้าน, อบต., ชุมชน, นิคม, ภูเขา ฯลฯ)
            </th>
            <th *ngIf="sn22.B1_4_3">
              ในหมู่บ้าน/ชุมชนเป็นที่ตั้งของแหล่งผลิตน้ำประปาอื่นๆ ใช่หรือไม่
            </th>
            <th *ngIf="sn22.B1_5_1">
              ในหมู่บ้าน/ชุมชน มีน้ำประปาอื่นๆ กี่หน่วยงาน
            </th>
          </tr>
          <tr>
            <th>
              B1_4_1
            </th>
            <th>
              B1_4_2
            </th>
            <th>
              B1_4_3
            </th>
            <th *ngIf="sn22.B1_4_3">
              B1_5_1
            </th>
            <th *ngIf="sn22.B1_5_1">
              B1_5_2
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{sn22.B1_4_1 ? 'มี' : 'ไม่มี'}} </td>
            <td> {{sn22.B1_4_2 ? 'มี' : 'ไม่มี'}} </td>
            <td> {{sn22.B1_4_3 ? 'มี' : 'ไม่มี'}} </td>
            <td *ngIf="sn22.B1_4_3"> {{sn22.B1_5_1 ? 'ใช่':'ไม่ใช่' }} </td>
            <td *ngIf="sn22.B1_5_1"> {{sn22.B1_5_2}} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="sn22.B1_5_1 && sn22.B1_5_2 > 0" style="padding:10px" class="ui segments" id="container">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>
              หน่วยงานชื่อ
            </th>
            <th>
              ใช้น้ำผิวดิน (สระน้ำ แม่น้ำ/ลำคลอง) หรือไม่
            </th>
            <th>
              ถ้า “ใช้” ใช้น้ำผิวดินผลิตประปาโดยเฉลี่ยต่อเดือนปริมาณเท่าไร
            </th>
            <th>
              ใช้น้ำจาก บ่อบาดาล หรือไม่
            </th>
            <th>
              ถ้า “ใช้” ใช้น้ำจากบ่อบาดาลกี่บ่อ
            </th>
            <th>
              ใช้น้ำบาดาลผลิตประปาโดยเฉลี่ยต่อเดือนปริมาณเท่าไร
            </th>
            <th>
              น้ำประปาราคาขายหน่วยละเท่าไร
            </th>
            <th>
              ค่าเช่ามิเตอร์คิดเดือนละเท่าไร
            </th>
            <th>
              การผลิตน้ำประปา มีระบบการฆ่าเชื้อโรคหรือไม่ (1. มีระบบการฆ่าเชื้อโรคโดยการใส่คลอรีน 2. มีด้วยวิธีอื่น 3. ไม่มีการฆ่าเชื่อโรค)
            </th>
            <th>
              หากมีการฆ่าเชื้อโรคด้วยวิธีอื่น คือวิธีใด
            </th>
          </tr>
          <tr>
            <th>
              B1_5_2_1
            </th>
            <th>
              B1_5_2_1_1
            </th>
            <th>
              B1_5_2_1_2
            </th>
            <th>
              B1_5_2_1_3
            </th>
            <th>
              B1_5_2_1_4
            </th>
            <th>
              B1_5_2_1_5
            </th>
            <th>
              B1_6
            </th>
            <th>
              B1_7
            </th>
            <th>
              B1_8
            </th>
            <th>
              B1_8_2
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let b1_5 of sn22.B1_5">
            <tr>
              <td> {{b1_5.B1_5_2_1}} </td>
              <td> {{word_use[b1_5.B1_5_2_1_1]}} </td>
              <td> {{b1_5.B1_5_2_1_2}} </td>
              <td> {{word_use[b1_5.B1_5_2_1_3]}} </td>
              <td> {{b1_5.B1_5_2_1_4}} </td>
              <td> {{b1_5.B1_5_2_1_5}} </td>
              <td> {{b1_5.B1_6}} </td>
              <td> {{b1_5.B1_7}} </td>
              <td> {{b1_5.B1_8}} </td>
              <td> {{b1_5.B1_8_2}} </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div style="padding:10px" class="ui segments" id="container">
      <!-- *ngIf="user_list.length > 0" -->
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>
              ในหมู่บ้าน/ชุมชนมีระบบบำบัดน้ำเสียหรือไม่
            </th>
            <th>
              ในช่วงเวลา 5 ปีที่ผ่านมา หมู่บ้าน/ชุมชนแห่งนี้เคยเกิดภัยธรรมชาติหรือไม่
            </th>
            <th>
              ภัยจากคลื่นสึนามิ
            </th>
            <th>
              อุทกภัย ดินโคลนถล่ม
            </th>
            <th>
              ภัยจากแผ่นดินไหวและอาคารถล่ม
            </th>
            <th>
              พายุหมุนเขตร้อน
            </th>
            <th>
              ภัยจากไฟป่าและหมอกควัน
            </th>
            <th>
              ภัยแล้ง
            </th>
            <th>
              ภัยจากอากาศหนาว
            </th>
            <th>
              ภัยจากโรคระบาดในมนุษย์
            </th>
            <th>
              ภัยจากโรค แมลง สัตว์ ศัตรูพืชระบาด
            </th>
            <th>
              ภัยจากโรคระบาดสัตว์และสัตว์น้ำ
            </th>
            <th>
              ในหมู่บ้าน/ชุมชนแห่งนี้มีการเตือนภัยและมาตรการช่วยเหลือน้ำท่วมหรือไม่
            </th>
            <th>
              ระบบเป็นไปตามระบบของทางราชการ
            </th>
            <th>
              มี โดยหมู่บ้าน/ชุมชนร่วมกันวางแผนจัดการเอง
            </th>
            <th>
              มี โดยมีหน่วยงานอื่นให้คำแนะนำและบริหารจัดการ
            </th>
            <th>
              มี ลักษณะการดำเนินงานอื่น
            </th>
            <th>
              ระบุ ลักษณะการดำเนินงานอื่น
            </th>
          </tr>
          <tr>
            <th>
              B1_9
            </th>
            <th>
              B1_10
            </th>
            <th>
              B1_10_1
            </th>
            <th>
              B1_10_2
            </th>
            <th>
              B1_10_3
            </th>
            <th>
              B1_10_4
            </th>
            <th>
              B1_10_5
            </th>
            <th>
              B1_10_6
            </th>
            <th>
              B1_10_7
            </th>
            <th>
              B1_10_8
            </th>
            <th>
              B1_10_9
            </th>
            <th>
              B1_10_10
            </th>
            <th>
              B1_11
            </th>
            <th>
              B1_11_1
            </th>
            <th>
              B1_11_2
            </th>
            <th>
              B1_11_3
            </th>
            <th>
              B1_11_4
            </th>
            <th>
              B1_11_4_1
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- <ng-container *ngFor="let user of user_list"> -->
          <tr>
            <td> {{sn22.B1_9  ? 'มี' : 'ไม่มี'}} </td>
            <td> {{sn22.B1_10  ? 'มี' : 'ไม่มี'}} </td>
            <td> {{sn22.B1_10_1 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_10_2 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_10_3 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_10_4 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_10_5 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_10_6 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_10_7 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_10_8 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_10_9 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_10_10 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_11 ? 'มี' : 'ไม่มี'}} </td>
            <td> {{sn22.B1_11_1 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_11_2 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_11_3 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_11_4 ? 'ใช่' : 'ไม่ใช่'}} </td>
            <td> {{sn22.B1_11_4_1}} </td>
          </tr>
          <!-- </ng-container> -->
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui bottom attached segment" suiTabContent="2">
    <a class="ui red ribbon label"> สน.2 (พื้นที่ย่อย) ตอนที่ 2 โครงการจัดการน้ำเพื่อการเกษตรชุมชน (โดยใช้พื้นที่สาธารณะ)</a>
    <div style="padding:10px" class="ui segments" id="container">
      <!-- *ngIf="user_list.length > 0" -->
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>
              ในหมู่บ้าน/ชุมชนแห่งนี้มีโครงการจัดการน้ำเพื่อการเกษตรชุมชนหรือไม่
            </th>
            <th>
              ถ้า “มี” มีกี่โครงการ
            </th>
          </tr>
          <tr>
            <th>
              B2_12
            </th>
            <th>
              B1_12_1
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- <ng-container *ngFor="let user of user_list"> -->
          <tr>
            <td> {{sn22.B2_12 ? 'มี' : 'ไม่มี'}} </td>
            <td> {{sn22.B2_12_1}} </td>
          </tr>
          <!-- </ng-container> -->
        </tbody>
      </table>
    </div>
    <div style="padding:10px" class="ui segments" *ngIf="sn22.B2_12_1 && sn22.B2_12_1 > 0" id="container">
      <!-- *ngIf="user_list.length > 0" -->
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>
              โครงการชื่อ
            </th>
            <th>
              พื้นที่ของโครงการมีกี่ไร่
            </th>
            <th>
              พื้นที่ของโครงการมีกี่งาน
            </th>
            <th>
              พื้นที่ของโครงการมีกี่ตารางวา
            </th>
            <th>
              จำนวนครัวเรือนที่เป็นสมาชิกโครงการมีจำนวนเท่าไร (ครัวเรือน)
            </th>
            <th>
              โครงการใช้น้ำผิวดินปริมาณโดยเฉลี่ยเดือนละเท่าไร (ให้รวมทุกพื้นที่ของโครงการ) (ลบ.ม./เดือน)
            </th>
            <th>
              โครงการมีบ่อน้ำบาดาลจำนวนกี่บ่อ (บ่อ)
            </th>
            <th>
              โครงการใช้น้ำบาดาลปริมาณโดยเฉลี่ยเดือนละเท่าไร (ให้รวมทุกพื้นที่ของโครงการ) (ลบ.ม./เดือน)
            </th>
          </tr>
          <tr>
            <th>
              B2_12_1_1
            </th>
            <th>
              B2_13_1
            </th>
            <th>
              B2_13_2
            </th>
            <th>
              B2_13_3
            </th>
            <th>
              B2_14
            </th>
            <th>
              B2_15
            </th>
            <th>
              B2_16
            </th>
            <th>
              B2_17
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let b2_12 of sn22.B2_12_1_1">
            <tr>
              <td> {{b2_12.B2_12_1_1}} </td>
              <td> {{b2_12.B2_13_1}} </td>
              <td> {{b2_12.B2_13_2}} </td>
              <td> {{b2_12.B2_13_3}} </td>
              <td> {{b2_12.B2_14}} </td>
              <td> {{b2_12.B2_15}} </td>
              <td> {{b2_12.B2_16}} </td>
              <td> {{b2_12.B2_17}} </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</sui-tabset>
<div class="ui segments">
  <div style="padding:10px">
    <button class="ui button" (click)="backButtonClicked()">กลับ</button>
  </div>
</div>